img {
  width: 500px;
  display: block;
  margin-bottom: 50px;
}

.flashy {
  color: red;
  font-style: italic;
}

.best {
  border: 20px solid gold;
  background-color: lightpink;
}

.cupcakes {
  border: 30px solid black;
  padding: 15px;
  width: 50%;
  background-color:lightskyblue;
  box-sizing: border-box;
}

.chocolate {
  color: brown;
}

.float {
  float: right;
}